$bl: black;
$red: red;
$red50: rgba(255, 0, 0, 0.5);
$red25: rgba(255, 0, 0, 0.25);
$white50: rgba(255, 255, 255, 0.5);
$white25: rgba(255, 255, 255, 0.25);
$radius: 32px;
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|VT323');
$fut:'fonto',
sans-serif;
@font-face {
    font-family: 'fonto';
    src: url('fonto.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: $bl;
    section#wrapper {
        width: 98vw;
        height: 98vh;
        display: grid;
        grid-template-columns: 3fr 2fr 4fr;
        grid-template-rows: 1fr 9fr;
        grid-gap: 16px;
        margin: 0 auto;
        #colorInverse {
            transition-duration: 400ms;
            animation-duration: 400ms;
            position: fixed;
            //background-color: red;
            height: 5vmin;
            width: 5vmax;
            right: 16px;
            top: 16px;
            border-radius: 12px;
            border: 1px solid white;
            //pointer-events: none;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            opacity: .5;
            cursor: pointer;
            span {
                font-family: $fut;
                font-size: 12px;
                text-align: center;
                width: 100%;
                color: white;
            }
        }
        #colorInverse:hover {
            opacity: 1;
        }
        header {
            grid-row: 1/2;
            grid-column: 1/4;
            display: inline;
            h1 {
                margin-top: 16px;
                color: white;
                font-size: 24px;
                font-family: $fut;
                font-weight: 400;
                text-align: center;
                span {
                    color: $red;
                }
            }
            h2 {
                text-align: center;
                font-family: 'Source Code Pro', sans-serif;
                font-weight: 100;
                font-size: 20px;
                color: $white50;
            }
        }
        section#rotation {
            grid-column: 1/2;
            grid-row: 2/3;
            //width: 100%;
            border: 2px solid white;
            border-radius: $radius;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 10fr 1fr;
            background-size: 10% 4%;
            //background-image: linear-gradient(to right, $red25 1px, transparent 1px), linear-gradient(to bottom, $red25 1px, transparent 1px);
            overflow: hidden;
            .dynamicObject {
                transform-origin: center;
            }
            img {
                grid-column: 1/3;
                grid-row: 1/3;
                height: 55%;
                z-index: 1;
                position: relative;
                margin-top: 30%;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
            }
            svg.static {
                grid-column: 1/3;
                grid-row: 1/3;
                position: relative;
                width: 100%;
                height: 100%;
                line {
                    stroke: white;
                    stroke-width: 3;
                }
                svg.dynamic {
                    transform-origin: center;
                    circle {
                        stroke: white;
                        stroke-width: 12;
                    }
                    circle.thin {
                        stroke-width: 3;
                    }
                    rect {
                        fill: none;
                        stroke-width: 10;
                        stroke: $white25;
                    }
                    rect.wide {
                        stroke-width: 25;
                        stroke: $white25;
                    }
                    line {
                        stroke: $red;
                        stroke-width: 2;
                    }
                }
            }
            p#rectNumbers {
                color: $white50;
                font-family: 'Source Code Pro', monospace;
                font-size: 6px;
                line-height: 16px;
                width: 10px;
                grid-column: 1/2;
                grid-row: 1/3;
                margin-left: 8px;
            }
            p#positionInformation {
                grid-column: 1/2;
                grid-row: 2/3;
                color: white;
                font-family: 'VT323', monospace;
                font-size: 16px;
                text-align: left;
                margin-left: 32px;
            }
            span#distortionNumber {
                grid-column: 2/3;
                grid-row: 2/3;
                font-family: 'Source Code Pro', monospace;
                color: red;
                font-size: 32px;
                text-align: center;
            }
            span#degree {
                font-family: 'Source Code Pro', monospace;
                color: red;
            }
        }
        p#breakNumbers {
            grid-column: 2/4;
            grid-row: 2/3;
            color: $white50;
            font-family: 'VT323', monospace;
            font-size: 10px;
            //width: 100%;
            text-align: center;
            margin: 0 auto;
            margin-top: 8px;
            letter-spacing: 1px;
            //weinig nut voor dit element
            visibility: hidden;
            display: none;
        }
        section#fuel {
            grid-row: 2/3;
            grid-column: 2/3;
            //height: 100%;
            //width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            h1 {
                color: white;
                text-align: center;
                //margin-top: 16px;
                font-family: $fut;
                font-weight: 400;
                font-size: 0;
            }
            canvas#fuelGraph {
                border: 2px solid white;
                border-radius: $radius;
                height: 100%;
            }
        }
        section#remaining {
            //height: 100%;
            display: grid;
            grid-column: 3/4;
            grid-row: 2/3;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 4fr;
            grid-gap: 16px;
            section.one {
                grid-column: 1/2;
                grid-row: 1/2;
                //height: 150px;
                border: 2px solid white;
                //width: 100%;
                color: white;
                border-radius: $radius;
                h3 {
                    font-family: 'Source Code Pro', monospace;
                    font-size: 18px;
                    text-align: center;
                    margin-top: 10%;
                    font-weight: 400;
                }
                .remainingWrapper {
                    display: flex;
                    justify-content: center;
                    h2 {
                        font-family: $fut;
                        color: $red;
                        font-weight: 400;
                        //text-align: center;
                        font-size: 36px;
                        display: inline;
                    }
                    span {
                        @extend h2;
                    }
                }
            }
            section.two {
                grid-column: 2/3;
                grid-row: 1/2;
                color: white;
                font-family: 'VT323', monospace;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                font-size: 12px;
                grid-column-gap: 8px;
                p#log {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    font-size: 14px;
                    position: absolute;
                    bottom: 16px;
                }
                p#dateOne {
                    font-size: 1.2vmax;
                    grid-column: 1/2;
                    grid-row: 1/2;
                    opacity: 0.75;
                }
                p#dateTwo {
                    grid-column: 2/3;
                    grid-row: 1/2;
                    font-size: 1.2vmax;
                    opacity: .75;
                }
                p#eta {
                    display: none;
                    visibility: hidden;
                    grid-column: 1/2;
                    grid-row: 2/3;
                    font-size: 14px;
                    font-family: 'Source Code Pro', monospace;
                }
                span.first {
                    color: yellow;
                }
                span.second {
                    color: red;
                }
                canvas#canvasTwo {
                    grid-column: 3/4;
                    visibility: hidden;
                    display: none;
                    grid-row: 1/3;
                }
            }
            section.three {
                border: 2px solid white;
                border-radius: $radius;
                grid-column: 1/3;
                grid-row: 2/3;
                overflow: hidden;
                iframe {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
